body {
  min-width: : 1200px; /*минимальная????*/
  margin: 0; /*убирает  отступы внешние по экрану*/
  padding: 0;/*внутренние отступы вокруг содержимого в рамке*/

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;/*межстрочный интервал*/
  font-weight: normal;/*насыщенность/жирность шрифта*/
  color: #000000;/*black*//*цвет текста*/
  text-transform: none;/*регистр */

  background-color: #ffffff;/*white*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  background-color: #eeeeee;
  height: 2px;
}

.visually-hidden:not(:focus):not(:active)/*,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden*/ {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin).*/

  outline: 1px solid green; /*временно*/
}

.button {
  display: inline-block;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.main-header {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;/*grey*/

  outline: 1px solid green; /*временно*/
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top:56px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: -7px;

  outline: 1px solid red; /*временно*/
}

.main-navigation {
  max-width: 488px;/*для ужимания под контент*/
  margin: 0;
  padding: 0;

  outline: 1px solid yellow; /*временно*/
}

.shopping-bag {
  width: 160px;
  margin: 0;
  padding: 0;
  text-align: right;
  /*margin-left: auto;*/

 outline: 1px solid blue; /*временно*/
}

.shopping-bag-svg {
  position: relative;
}

.shopping-bag-svg::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 45px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  /*background-color: #ff0000;*/
}

.site-navigation {
  list-style: none;/*убирает маркеры в списке*/
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.shopping-bag a {
  color: #000000;

  display: block;
  box-sizing: border-box;;

  outline: 1px solid yellow; /*временно*/
}

.site-navigation a {
  padding: 20px 23px;
}

.shopping-bag a {
  padding: 20px;
  padding-right: 0;
}

.main-navigation a:hover,
.main-navigation a:focus,
.shopping-bag a:hover,
.shopping-bag a:focus {
  color: #fb565a;
}

.main-navigation a:active,
.shopping-bag a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo svg:hover,
.main-header-logo svg:focus {
  opacity: 0.8;
}

.main-header-logo svg:active {
  opacity: 0.3;
}

/*Slider*/

.slider {
  position: relative;

  background-color: #eeeeee;

  margin-bottom: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  width: 240px;

  color: #ffffff;
  background-color: #fb565a;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Slider*/

/*Main*/

.services {
  display: flex;
  justify-content: space-between;
  width: 1100px;

  margin-bottom: 80px;

  outline: 1px solid blue; /*временно*/
}

.services-item {
  text-align: left;/*выравнивание текста*/
  line-height: 24px;

  width: 300px;
  outline: 1px solid pink; /*временно*/
}

.services-img {
  margin-bottom: 20px;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin:0;

  outline: 1px solid pink; /*временно*/
}

.services-item-text {
  padding-right: 20px;
  margin-bottom: 31px;

  outline: 1px solid green; /*временно*/
}

.button-services {
  width: 160px;

  color: #ffffff;
}

.services-item .button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active { /*??????Тут еще тень или что?????????*/
  background-color: #d7373b;
  opacity: 0.3; /*как сделать только текст полупрозрачным?*/
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  opacity: 0.3;
}

.button-orange {
  background-color: #efc84a;
}

.button-orange:hover,
.button-orange:focus {
  background-color: #eab534;
}

.button-orange:active {
  background-color: #e5a722;
  opacity: 0.3;
}

.aboutus {
  display: flex;
  box-sizing: border-box;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  margin-bottom: 77px;

  outline: 1px solid red; /*временно*/
}

.aboutus-text {
  width: 660px;

  padding-top: 80px;

  outline: 1px solid red; /*временно*/
}

.aboutus-text h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 31px;

  outline: 1px solid red; /*временно*/
}

.aboutus-text p {
  margin: 0;
  margin-bottom: 42px;

  outline: 1px solid red; /*временно*/
}

.aboutus-text h3 {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  outline: 1px solid red; /*временно*/
}

.logo-table {
  width: 360px;

  padding-top: 40px;
  text-align: right;

  outline: 1px solid red; /*временно*/
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 46px;
  margin-top: 44px;

  outline: 1px solid red; /*временно*/
}

.project-logo img {
opacity: 0.2;
  }

.project-logo img:hover,
.project-logo img:focus {
  opacity: 1;
}

.project-logo img:active {
  opacity: 0.1;
}

.map {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  outline: 1px solid green; /*временно*/
}

.main-footer {
  width: 100%;
  padding: 0;
  margin: 0;

  outline: 1px solid pink; /*временно*/
}

.container-footer {
  margin-top: 69px;

  display: flex;

  outline: 1px solid black; /*временно*/
}

.footer-social {
  width: 260px;
  margin: 0;
  padding: 0;

  outline: 1px solid green; /*временно*/
}

.footer-social-buttons {
  display:flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  list-style: none;
}

.social-button {
  display: inline-flex;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: 0;
  background-color: #e1e1e1;
}

.social-button:hover,
.sovial-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button svg {
margin: auto; /*почему для выравнивания???*/
}

.social-button svg:active {
  opacity: 0.3;
}

.make-friends-for-discount {
  width: 600px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  outline: 1px solid red; /*временно*/
}

.make-friends {
  font-size: 36px;
  line-height: 36px;/*межстрочный интервал*/
  font-weight: bold;/*насыщенность/жирность шрифта*/
}

.discount {
  line-height: 22px;/*межстрочный интервал*/
}

/*CATALOG*/

.h1-main {
  font-size: 55px;
  line-height: 55px;/*межстрочный интервал*/
  font-weight: 500;/*насыщенность/жирность шрифта*/
  background-color: #eeeeee;/*grey*/
  text-transform: none;
  text-align: center;
  width: 100%;

  padding: 0;
  margin: 0;
  margin-bottom: 110px;
  margin-top: 65px;

  outline: 1px solid blue; /*временно*/
}

.main-navigation .current-page {
  text-decoration-line: underline;
  text-decoration-color: #fb565a;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
  outline: 1px solid orange; /*временно*/
}

.catalog {
  display: flex;
  flex-wrap: wrap;/*перенос на новую строку*/

  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-content {
  width: 760px;
  outline: 1px solid purple; /*временно*/
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;

  outline: 1px solid blue; /*временно*/
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item svg:hover,
.catalog-item svg:focus {
  opacity: 0.12;
}

.catalog-item-image {
  margin: 0;
}

/*Filter*/

.filter-form {
  padding-top: 60px;
}

fieldset ul {
  list-style: none;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.mesh-features {
  font-size: 18px;
  height-weight: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter .filter-option {
  font-size: 16px;
  height-weight: 20px;
}

.filter-input:disabled + label {
  opacity: 0.3; /*полупрозрачность*/
}

.filter-mesh-price {
  margin-bottom: 54px;
}

.filter-kindofmesh {
  margin-bottom: 45px;
}

.filter-mesh-features {
  margin-bottom: 48px;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 37px;

  outline: 1px solid green; /*временно*/
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-nerds/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/svg-nerds/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.1;
}

.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.grey-button {
  background-color: #eeeeee;
}

.filter-button a{
  display:block;
  width: 260px;

  color: #000000;
}

.pagination-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;

  width: 260px;
  box-sizing: border-box;
  text-align: center;
}

.pagination-item {
  display: block;
  padding: 15px 20px;

  color: #000000;

  background-color: #eeeeee;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  background-color: #d5d5d5;
  color: rgba(185, 185, 185, 0.3); /*прорачность не работает*/
}

.pagination-item-current {
  background-color: #ffffff;

  box-sizing: border-box;
  border: 2px solid #dbdbdb;
}
